<!DOCTYPE html>
<html>
<head>
	<title>Setup Sensors</title>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles.css') }}">

</head>
<body onload="loadFromCookie(); drawAll(); loadIdRows();">
<h2>Enter your device IDs</h2>
<div id="enter-ids">
	<label>Device ID</label>
	<input type=text class=id id="id-input">
	<button onclick="addIdButton()">Add</button>
</div>
<div>
	<table id="chosen-ids">
		<tr>
			<td>Device Id</td>
			<td>Number of Data Points</td>
			<td></td>
		</tr>
	</table>
	<button onclick="clearCookies();drawAll();">Clear All</button>
</div>

<h2>Position Sensors</h2>
<canvas id="canvas" width="300" height="300"></canvas>
<br><label>Enter background image URL: </label><input id=image-entry value="https://lh3.googleusercontent.com/lpuKECB0msW6wEUXdlIihu1hyt14DvyTQ8csxVLlfxN_YkM-sz3P6MkfKM427lc4DZnEPrho5FrlvdJJtDhWkjj5HsEr8SUzJfdY_du5Po3Z6OUTjVMfqtDIdK710Lz7ySjlUEd6K6g=s766-no" /><button onclick="changeBackgroundImage()">Update</button>

<a href="{{ url_for('display') }}"><div><h2>Save and View Data --></h2></div></a>


<script type="text/javascript" src="{{ url_for('static', filename='scripts.js')}}"></script>
<script>
var num_ids = 1;
var positioning = false;
var currentDevice = 0;

var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');
var width = 300;
var height = 300;


var points = [];

var chosenPointsDiv = document.getElementById("chosen-ids");
var dataTable = document.getElementById("data-table");
var data = JSON.parse('{{ data|tojson }}');
var chosenIds = [];
var chosenIdRows = [];

function drawAll() {
	// drawBackground(ctx);
	clearCanvas(ctx);
	drawAllPoints(ctx);
}

function startPositioning(value) {
	if (positioning) stopPositioning();
	console.log("Start Positioning");
	positioning = true;
	currentDevice = value;
	findRow(value).classList.add("positioning");
	//chosenPointsDiv.getElementById("choosing-point-" + value).className = "red-text";

}

function stopPositioning() {
	console.log("Stop Positioning");
	positioning = false;
	if (currentDevice) {
		findRow(currentDevice).classList.remove("positioning");
	}
	//chosenPointsDiv.getElementById("choosing-point-" + currentDevice).className = "hide";
	//draw();
}

function addIdButton() {
	var input = document.getElementById("id-input");
	if (chosenIds.includes(input.value)) {
		alert("ID already added.");
		return false;
	}
	addId(input.value);
	return true
}

function addId(value) {
	chosenIds.push(value);
	setIdCookie();
	addIdRow(value);
}

function addIdRow(value) {
	var chosenIdsElem = document.getElementById("chosen-ids");
	var row = document.createElement("tr");
	var text = document.createElement("td");
	var numDataCell = document.createElement("td");
	var button = document.createElement("button");
	button.onclick = function() {
		startPositioning(value);
	};
	button.innerText = "Position on Map";
	button.id = "p_button" + chosenIds.length;
	var buttonCell = document.createElement('td');
	buttonCell.appendChild(button);

	text.innerText = value;

	row.appendChild(text);
	row.appendChild(numDataCell);
	row.appendChild(buttonCell);

	var numData = findId(value);
	if (numData == 0) {
		var warning = document.createElement('p');
		warning.innerText = "No data found for id.";
		row.appendChild(warning);
		row.classList.add("red-background");
	}
	numDataCell.innerText = numData;

	chosenIdsElem.appendChild(row);
	chosenIdRows.push(row);
}

function loadIdRows() {
	if (chosenIds.length > 0) {
		for (var i=0; i<chosenIds.length; i++) {
			var id = chosenIds[i];
			if (id != "0") {
				addIdRow(id);
			}
		}
	}
}

// Add event listener for `click` events.
canvas.addEventListener('click', function (event) {
	if (positioning) {
		var offLeft = canvas.offsetLeft;
		var offTop = canvas.offsetTop;
		var x = event.pageX - offLeft;
		var y = event.pageY - offTop;
		var elem = new Object();
		elem.x = x;
		elem.y = y;
		elem.device_id = currentDevice;
		elem.temp = getTemp(currentDevice);
		elem.humid = getHumid(currentDevice);
		elem.moist1 = getMoist1(currentDevice);
		elem.moist2 = getMoist2(currentDevice);

		// remove the point if it already is in the array
		if (points) points = points.filter(p => p.device_id != currentDevice);

		points.push(elem);
		
		setPointsCookie();

		clearCanvas(ctx);
		drawAllPoints(ctx);
		
		stopPositioning();
	}

}, false);

function deleteAllIdRows() {
	var chosenIdsElem = document.getElementById("chosen-ids");
	while(chosenIdsElem.childElementCount > 1) {
		chosenIdsElem.removeChild(chosenIdsElem.lastChild);
	}
	chosenIdRows = [];
}

function findId(id) {
	var counter = 0;
	for(var i=0 ;i<data.length; i++) {
		if (data[i]["device_id"] == id) {
			counter++;
		}
	}
	return counter;
}

function findRow(value) {
	for (var i=0; i<chosenIdRows.length; i++) {
		if (chosenIdRows[i].firstChild.innerText == value) {
			return chosenIdRows[i];
		}
	}
}

</script>
</body>
</html>
